# Данные
*.csv
*.xlsx
*.xls

# Модели и результаты
Results_experiment*/
*.pt
*.pkl

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Логи
*.log

# IDE
.vscode/
.idea/

# Временные файлы
debug_*.py
